.meals-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.meal-container {
    margin-right: 5px;
    padding-top: 30px;
    border-right: 1px solid #d16ba5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store-container {
    margin-left: 10px;
    padding-top: 30px;
}