.header {
    text-align: center;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 25px;
    width: 60%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.719);
}